<section class="contact">
  <h2>Kontakt</h2>
    <hr>
      <form action="">
        <input type="text" name="" id="" placeholder="Imię">
        <input type="email" name="" id="" placeholder="Emial">
        <textarea name="" id="" placeholder="Wiadomość"></textarea>
      </form>
        <a href="" class="btn">Wyślij wiadomość</a>
</section>