<section class="contact">
  <h2>Kontakt</h2>
    <hr>
    <form action="">
      <input type="text" name="" id="" placeholder="Imię">
      <input type="email" name="" id="" placeholder="Emial">
      <textarea name="" id="" placeholder="Wiadomość"></textarea>
    </form>
      <a href="" class="btn">Wyślij wiadomość</a>
      <div>
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flucasproboxing&tabs&width=340&height=181&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=true&appId" width="340" height="181" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
</section>